DISCORD_TOKEN=""
DISCORD_GUILD_ID=""
WELCOME_CHANNEL_ID=""
WELCOME_TITLE="Welcome {member}"
WELCOME_INTRO="**Welcome {member} To {server}**"
WELCOME_MESSAGE="**Glad to have you here**\n\n{links}\n\n{decoration} Thank you for joining us, have fun {decoration}"
WELCOME_LINKS="Make sure to read the Server Rules\nCheck our latest Updates\nFor IP/Port Click Here\nNeed Help? Check our Ticket Support"
WELCOME_EMBED_COLOR=FFFFFF
WELCOME_THUMBNAIL_URL=""
WELCOME_BANNER_URL=""
WELCOME_BANNER_FILE=""
WELCOME_AUTO_ROLE_ID=1267198449355460700
WELCOME_PING_OUTSIDE_EMBED=false
WELCOME_DM_ENABLED=false
WELCOME_DM_MESSAGE="Gracias por entrar a {server}, {username}. Lee las reglas y ponte comodo/a."
RULES_EMBED_COLOR=E53935
ABOUT_EMBED_COLOR=111111
TICKET_CHANNEL_ID=1509405048629755914
TICKET_CATEGORY_ID=1509407852681367632
TICKET_LOG_CHANNEL_ID=1509411767250583613
TICKET_STAFF_ROLE_ID=""
TICKET_PANEL_EMBED_COLOR=111111
TICKET_TERMS_EMBED_COLOR=111111
TICKET_URL="https://discord.com/channels/1267197911498887332/1509405048629755914"
AUTOMOD_ENABLED=true
AUTOMOD_BLOCK_INVITES=true
AUTOMOD_BLOCK_LINKS=true
AUTOMOD_ALLOWED_DOMAINS=""
AUTOMOD_EXEMPT_ROLE_ID=""
AUTOMOD_SPAM_MAX_MESSAGES=5
AUTOMOD_SPAM_WINDOW_SECONDS=8
AUTOMOD_TIMEOUT_SECONDS=300
AUTOMOD_WARNING_DELETE_SECONDS=8
MOD_LOG_CHANNEL_ID=1509748290110095471
MOD_LOG_EMBED_COLOR=111111
GIVEAWAY_CLAIM_CHANNEL_ID=1507802013851717822
GIVEAWAY_ANNOUNCE_CHANNEL_ID=1499069695956090911
GIVEAWAY_INVITE_URL="https://discord.gg/GcxEyxxzcm"
GIVEAWAY_EMBED_COLOR=FFFFFF
GIVEAWAY_DATA_FILE="data/giveaways.json"
BOT_STATUS="dando la bienvenida"
LOG_LEVEL=INFO
